@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;   
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 40px;
}
    header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
    font-weight: normal;
    }
    header > p {
        font-family: var(--fonte-padrao);
        font-size: 1.2em;
        color: white;
        max-width: 600px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514)
    }

nav{
    background-color: var(--cor5);
    padding: 10px;
}
    nav > a {
        text-decoration: none;
        color: var(--cor1);
        padding: 10px;
        font-weight: bolder;
        transition-duration: 0.5s;
    }
        nav > a:hover{
            background-color: var(--cor3);
            border-radius: 10px;
            color: var(--cor5);
        }

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
    main  h1 {
        color: var(--cor5);
        font-family: var(--fonte-android);
        font-weight: normal;
        font-size: 1.8em;
    }

    main  h2 {
        font-family: var(--fonte-android);
        color: var(--cor4);
        font-size: 1.3em;
        background-image: linear-gradient(to right, var(--cor1), transparent); /*para fazer um degrader de uma determinada cor até o transparente*/
        text-indent: 6px;/*para o título não ficar muito grudado na esquerda da caixa, pode usar um padding também*/
        font-weight: normal;
    }

    main img{
        width: 100%;
    }
    main .pequena{
        max-width: 350px;
        display: block;
        margin: auto;
    }
    main p{
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        line-height: 1.5em;
        font-size: 1em;
    }
    main strong{/*tudo que for <strong></strong> vai herdar essas configs*/
        color: var(--cor4);
        font-weight: bold;
        
    }
    main a{
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        background-color: var(--cor1);
        padding: 2px 6px;
        border-radius: 4px;
    }
        main a:hover{
            text-decoration: underline;
            color: var(--cor4);
        }

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;/*depois de aplicar as config de position o video e a div podem ficar espremidas e deslocadas, o padding bottom que vai ajustar isso e, dependendo da porcentagem, vai definir se aparece ou não bordas pretas no vídeo*/
    position: relative;
    
}
    div.video > iframe {
        position: absolute;
        width: 90%;
        height: 90%;
        /*A largura e a altura vai definir quanto porcento o video vai ocupar da div (isso se eu quiser que ele aparece um plano de fundo colorido), podendo ocupar até 100%*/
        top: 5%;
        left: 5%;
        /*as medidas de top e left aqui estão servindo para ajustar a posição do video que ficou deslocado para cima e para o lado esquerdo devido a não estar ocupando 100% da caixa div*/
    } 


aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.400);
}
    aside > h3{
        background-color: var(--cor4);
        color: white;
        padding: 10px;
        margin: -10px -10px 0px -10px;/*colocando um valor negativo a margem cresce "para fora"*/
        border-radius: 10px 10px 0px 0px;
    }
    aside > ul{
        list-style-position: inside;/*muda o padrão da bolinha, que é está fora, para dentro*/
        columns: 2;/*para dividir uma lista em 2 colunas*/
    }
    aside abbr{
        text-decoration: none;
    }

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
    footer a{
        color: white;
        font-weight: bolder;
        text-decoration: none;
    }
        footer a:hover{
            text-decoration: underline;
            color: var(--cor1);
        }